.signInPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
    min-width: 500px;
}
.formItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 25px 0;
}
.formItem > input{
    margin-top: 5px;
    padding: 5px 15px;
}
.formItem > label{
    cursor: pointer;
}
.formItem > button{
    padding: 5px 15px;
    cursor: pointer;
}
.formItem:last-child{
    flex-direction: row;
    align-items: center;
    justify-content: normal;
}
.formItem > p{
    margin-left: 15px;
}
.formItem > p > a{
    text-decoration: none;
    color: deepskyblue;
}